{% extends "layout.html.twig" %}

{% block title %}Edit link{% endblock %}

{% block content %}
    <h2 class="text-center">Edit link</h2>
    {{ include('linkFormOnly.html.twig') }}
{% endblock %}


